.alarm{
    color: #b70000;
    text-shadow: 0 0 0 #b70000,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 4px #fff,
    0 0 4px #fff;
}

.rs-base{
    color:#FFFFFF;
    position: absolute;
    z-index: 10000;
    padding: 10px;
    background-color: #222;
    font-size: 10px;
    line-height: 1.2em;
    width: 350px;
    font-family: 'Roboto Condensed', tahoma, sans-serif;
    left: 0;
    top: 0;
    overflow: hidden;
}
.rs-base * {
    font-family: 'Roboto Condensed', tahoma, sans-serif !important;
}
.rs-base h1{
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

.rs-base div.rs-group{
    margin-bottom: 10px;
}

.rs-base div.rs-group.hidden{
    display: none;
}

.rs-base div.rs-fraction{
    position: relative;
    margin-bottom: 5px;
}

.rs-base div.rs-fraction p{
    width: 120px;
    text-align: right;
    margin: 0;
    padding: 0;
}

.rs-base div.rs-legend{
    position: absolute;
    line-height: 1em;
}

.rs-base div.rs-counter-base{
    position: relative;
    margin: 2px 0;
    height: 1em;
}

.rs-base span.rs-counter-id{
    position: absolute;
    left: 0;
    top: 0;
}

.rs-base div.rs-counter-value{
    position: absolute;
    left: 90px;
    width: 30px;
    height: 1em;
    top: 0;
    text-align: right;
}

.rs-base canvas.rs-canvas{
    position: absolute;
    right: 0;
}